<%= stylesheet_link_tag "present.init" %>

<!-- <h1>Even bigger</h1> -->
<!-- <h2>Hello, world!</h2> -->

<p>Time left</p>
<p>10 : 09 : 88</p>
<p>
	<img src="images/family_blue.jpg" alt="Smiley face" height="50%" width="50%">
</p>


